* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Montserrat", sans-serif;
	font-family: "Questrial", sans-serif;
}

:root {
	scroll-behavior: smooth;
}

body::-webkit-scrollbar {
	width: 1em;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: darkgrey;
	outline: 1px solid slategrey;
}

.container {
	width: 100%;
	max-width: 1200px;
	overflow: hidden;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header {
	height: 100vh;
}

#content-header {
	height: 100%;
}

.banner {
	padding: 0;
	height: 85%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: #fff;
	background-color: rgb(255, 128, 128);
}

.hamburger {
	display: none;
	position: fixed;
	top: 30px;
	right: 30px;
	background: #fff;
	width: 40px;
	height: 40px;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.nav-header {
	height: 15%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 5vh;
}

.nav {
	align-content: center;
	width: 30vw;
	display: flex;
	justify-content: space-evenly;
}

.nav a {
	text-decoration: none;
	color: black;
}

.banner {
	padding: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
}

.phrase {
	font-size: 30px;
	letter-spacing: 6px;
	margin-bottom: 15px;
}

.phrase p {
	font-weight: 300;
	font-size: 25px;
}

#button {
	margin-top: 5vh;
	width: fit-content;
}

.portfolio-top {
	height: 30vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.icons {
	cursor: pointer;
	color: rgb(255, 128, 128);
}

.active {
	background-color: rgb(255, 128, 128);
}

.nav-btn {
	width: fit-content;
	padding: 4px 8px;
}

footer {
	width: 100%;
}

.footer-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 30px;
}

.footer-content p {
	opacity: 0.5;
	padding: 10px;
}

.social-media {
	padding: 10px;
}

.social-media-icon {
	text-decoration: none;
	opacity: 0.5;
	color: black;
}

.container-gallery {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(100px, auto);
	max-width: 70%;
	max-height: 100vh;
	flex-direction: column;
	align-items: center;
	margin-top: 30px;
	overflow-y: scroll;
}

.img-gallery {
	object-fit: contain;
	width: 80%;
	display: block;
	margin: 10px;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

.container-gallery::-webkit-scrollbar {
	width: 1em;
}

.container-gallery::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

.container-gallery::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: darkgrey;
	outline: 1px solid slategrey;
}

@media screen and (max-width: 1000px) {
	.nav {
		width: 40vw;
	}
}

@media screen and (max-width: 800px) {
	.hamburger {
		display: block;
	}

	.nav {
		position: fixed;
		bottom: 0;
		width: 30vw;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		left: 0;
		transform: translateX(-110%);
		transition: transform 0.3s ease-in-out;
		box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	}

	.spread {
		transform: translateX(0);
	}

	.portfolio-top {
		height: 15vh;
	}

	.container-gallery {
		display: flex;
		max-width: 80%;
	}

	.grid-icon {
		display: none;
	}

	.active {
		background-color: rgba(197, 197, 197, 0.5);
		width: 20vw;
		text-align: center;
	}
}

@media screen and (max-width: 500px) {
	.hamburger {
		top: 20px;
		right: 20px;
	}
}
